{% extends 'base.html.twig' %}

{% block body %}
    <h1>Item</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ item.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ item.description }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if item.createdAt %}{{ item.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if item.updatedAt %}{{ item.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{% if item.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Sku</th>
                <td>{{ item.sku }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ item.image }}</td>
            </tr>
            <tr>
                <th>Itemid1</th>
                <td>{{ item.itemId1 }}</td>
            </tr>
            <tr>
                <th>Itemid2</th>
                <td>{{ item.itemId2 }}</td>
            </tr>
            <tr>
                <th>Itemid3</th>
                <td>{{ item.itemId3 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('item_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('item_edit', { 'id': item.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
