{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="margin-top: 170px;">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'entrance' | trans }}</div>
                    <div class="panel-body">
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        {% for flash_message in app.session.flashbag.get('notice') %}
                            <div class="alert alert-success">
                                {{ flash_message }}
                            </div>
                        {% endfor %}

                        <form class="form-horizontal" action="{{ path('login') }}" method="post">
                            <div class="form-group">
                                <label for="username" class="col-md-4 control-label">Email:</label>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" id="username" name="_username" required
                                           value="{{ last_username }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-md-4 control-label">Password:</label>
                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" name="_password" required>
                                </div>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-btn fa-sign-in">{{ 'login' | trans }}</i>
                                    </button>
                                </div>
                            </div>

                        </form>
                        <div>
                            <a href="{{ path('register') }}">Register</a>
                        </div>
                        <div>
                            <a href="{{ path('reset_password') }}">Forgot password?</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}