{% extends "base.html.twig" %}

{% block body %}
    <div>
        {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password.first) }}
            {{ form_row(form.password.second) }}
        {{ form_end(form) }}
    </div>
{% endblock %}